<p class="lead mb-3">Sum of the longest path is <%= sum %></p>

<form action="/dashboard" method="GET">
    <button type="submit" class="btn btn-primary btn-block">Start Over</button>
</form>

<form action="/users/logout" method="GET">
    <button type="submit" class="btn btn-secondary">Logout</button>
</form>